// Twittler
// TGA Precourse Assignment
// Andrew Tsao

@charset "utf-8";

@import "bourbon/bourbon";
@import "grid-settings";
@import "neat/neat";

@import "base/reset";
@import "base/mixins";
@import "base/functions";
@import "base/variables";
@import "base/typography";
@import "base/base";

@import "module/modules";

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  @extend %typography;

  background: $body-bg;
  color: $text-primary;
  font-family: $base-font-stack;
  font-size: $base-font-size;
  font-weight: $base-font-weight;
  line-height: $base-line-height;
  min-width: 320px;
  z-index: 0;
}

.container {
  margin: 0 auto;
  max-width: $max-width;
  padding: 0 20px;
  position: relative;
  overflow: hidden;
}

.fixed {
  overflow: hidden;
}

.overlay {
  background: transparent;
  display: block;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: -1;

  @include transition(all, 0.3s, ease-out);
}

.overlay.active {
  background: rgba(0, 0, 0, 0.8);
  z-index: 99;

  @include transition(all, 0.3s, ease-out);
}

