.btn {
  background: transparent;
  border: solid 1px transparent;
  cursor: pointer;
  display: inline-block;
  font-size: inherit;
  padding: 15px 20px;
  position: relative;
  left: 50%;
  width: 100%;

  @include border-radius(5px);
  @include transition(all, 0.3s, ease-out);
  @include vendor(transform, translateX(-50%));
  @include media($xsmall) {
    width: auto;
  }
}

.btn--primary {
  border-color: #fff;
  color: #fff;
}

.btn--primary:hover {
  background: #fff;
  color: $color-primary-darker;
}

.portal {
  padding-bottom: 20px;
  text-align: center;
}

#user-timeline {
  background: transparent;
  display: block;
  height: 0;
  max-width: 640px;
  padding: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  overflow: scroll;
  width: 0;
  z-index: -1;

  @include border-radius(5px);
  @include vendor(transform, translateX(-50%) translateY(-50%));
  @include media($small) {
    height: 70%;
    width: 70%;
  } 
}

#user-timeline.active {
  background: #fff;
  height: 70%;
  width: 90%;
  z-index: 100;

  @include media($small) {
    height: 70%;
    width: 70%;
  } 
}

#user-timeline .tweet {
  padding: 0;
}

.timeline-close {
  color: $light-gray;
  cursor: pointer;
  display: block;
  padding: 5px 10px;
  position: absolute;
  top: 20px;
  right: 20px;
  text-decoration: none;

  @include font-size(1.8);
}

.timeline-close:hover {
  color: $gray;

  @include transition(all, 0.3s, ease-out);
}

#new-alert {
  background: $green;
  color: #fff;
  cursor: pointer;
  padding: 10px 20px;
  position: absolute;
  left: 50%;
  text-align: center;
  width: 200px;

  @include border-radius(5px);
  @include vendor(transform, translateX(-50%));
}

#content {
  background: #fff;
  margin: 20px 0;
  padding: 40px 0 20px;

  @include border-radius(10px);
  @include box-shadow(0, 3px, 0, $blue-darker, false);
  @include fill-parent();
  @include media($xsmall) {
    @include span-columns(10);
    @include shift(1);
  }
  @include media($small) {
    @include span-columns(8);
    @include shift(2);
  }
  @include media($medium) {
    @include span-columns(6);
    @include shift(3);
  }
}

.tweet {
  display: none;
  padding: 0 20px;
}

.username {
  color: $base-font-color;
  font-weight: $bold-weight;
}

.username:hover {
  color: $color-primary-darker;
}

.timestamp {
  color: $light-gray;
  @include font-size($small-font-size);
}

header {
  background: $color-primary;
  padding: 20px 0;
}

footer {
   background: $blue-darker;
   color: #fff;
   padding: 20px 0 0;
   text-align: center;

   @include font-size($small-font-size);
}